body{
    /*background-color: #c1dbbe;*/
    height: 100dvh;
    width: 100dvw;
    display: inline-block;
    overflow-x: hidden;
    position: relative;
}
.container{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 100px 30px 100px;
    gap: 5px;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    z-index: 2;
    overflow-y: scroll;
    position: relative;
    /*background: linear-gradient( rgb(24, 84, 215), rgb(55, 113, 238),  rgb(248, 175, 38));*/
}
.bg{
    position: absolute;
    width: 150%;
    height: 150%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
    transform: rotate(45deg) scale(150%) translateY(30px);
    z-index: 1;
}
.bg *{  
    width: 100%;
    height: 100%;
}
.bg-1{
    background-color: rgb(248, 175, 38);
}
.bg-2{
    background-color: rgb(55, 113, 238);
}

.header{
    max-width: 100%;
    min-height: 110px;
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 40px 10px 40px;
    align-items: center;
    box-shadow: inset 0px 0px 4px #9c9c9c;
    box-shadow: 0px 0px 3px #000;
    border-radius: 1em;
    /*border: 1px solid #000;*/
    background-color: #fff;
}
.logo{
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #000;
}
.logo-img{
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
}
.logo-img img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.logo span{
    padding-left: 30px;
    display: inline-block;
    font-size: 20px;
}

.main{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    gap: 10px;
}
.rightbar{
    min-width: 30%;
    min-height: 100%;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 20px 40px 20px;
    border-radius: 1em;
    margin-left: -5px;
    /*border: 4px solid #fff;*/
    /*border: 1px solid #000;*/
    background-color: #fff;
    box-shadow: 0px 0px 3px #000;
}
.rightbar span{
    padding: 3px;
    border-radius: 1em;
    border: 1px solid #000;
    margin: 5px 10px 5px 0px;
}
.rightbar ul{
    background-color: #fff;
    padding: 20px;
    height: 100%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rightbar li{
    transition-duration: 0.3s;
    padding: 5px;
    color: #000;
}
.rightbar a:visited{
    color: #000;
}
.rightbar a{
    color: #000;
}
.rightbar li:hover{
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.content{
    min-width: 70%;
    min-height: 100%;
    border: 4px dashed #fff;
    background-color: none;
    padding: 50px 50px 50px 50px;
    border-radius: 1em;
    margin-right: -5px;
    /*box-shadow: inset 0px 0px 8px #fff;*/
    box-shadow: 0px 0px 3px #000;
    background-color: #fff;
    /*border: 1px solid #000;*/
}


.courses{
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
}
.title{
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    background-color: #fff;
    padding: 20px;
    font-weight: bold;
    border-radius: 0.5em;
    border: 1.5px dashed #000;
}
.courses-item{
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: #fff;
    border-radius: 1em;
    padding: 20px;
    border: 1px solid #000;
}
.courses-item:hover{
    transform: scale(103%);
    transition-duration: 0.3s;
    box-shadow: 0px 0px 3px #fff;
}
.courses-info{
    display: flex;
    flex-direction: column;
}
.item-img{
    max-width: 50px;
    max-height: 50px;
    margin: 0px 30px 0px 10px;
}
.item-img img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.item-describtion span{
    font-size: 10px;
    display: inline-block;
}
.item-nav{

}


.chat{
    box-shadow: inset 0px 0px 5px #c0c0c0;
    display: none;
    flex-direction: column;
    min-height: 100%;
    max-width: 100%;
    border-radius: 1em;
    padding: 20px;
    gap: 10px;
}
.chat-title{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.chat-input{
    display: flex;
    flex-direction: row;    
}
.input-img{

}
.chat-zone{
    flex-grow: 1;
    min-height: 100%;
    width: 100%;
    display: block;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    padding: 10px 0px 10px 0px;
}
.input-input{
}

.input-input textarea{
    border: 1px solid #000;
}




.courses-title{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}
.courses-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 50px 0px 50px;
}
.name-item{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.name-itemb{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.name-itemb button{
    font-size: 16px 40px 16px 40px;
    border: 1px solid #000;
    border-radius: 2em;
    padding: 10px;
    transition-duration: 0.4s;
}
.name-itemb button:active{
    box-shadow: inset 0px 0px 2px #000;
}
.name-item input{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 1.5em;
    width: 70%;
}
.name-item span{
    display: inline-block;
    padding-left: 3px;
}